body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #9ea2ac;
}
.banner-column{
    background-color: #4d545fa4;
    margin: auto;
}
.navbar-container{
    background-color: rgb(48, 43, 43);
    
}
.about-container{
    background-color: #396868;
}
.education-container{
    background-color: rgb(155, 200, 226);
    
}
.circle{
    background-color: rgb(231, 82, 13);
    height: 150px;
    width: 150px;
    border-radius: 50%;
}