body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #acaaaa;
}
.banner-column{
    background-color: #575050a4;
    margin: auto;
}
.navbar-container{
    background-color: rgb(48, 43, 43);
    
}
.navbar-container ul{
    margin: auto;
}