body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #9ea2ac;
}
.banner-column{
    background-color: #4d545fa4;
    margin: auto;
}
.navbar-container{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(48, 43, 43);
    
}
.about-container{
    background-color: #396868;
}
.education-container{
    background-color: rgb(155, 200, 226);
    
}
.circle{
    background-color: rgb(231, 82, 13);
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.project-container{
    background-color: #396868;
}
.portfolio-container{
    background-color: rgb(155, 200, 226);
}
.portfolio-container .card{
    background-color: rgb(187, 201, 209);
}
.form-container{
    background-color: rgb(82, 82, 85);
}
.inner-form{
    background-color: rgb(184, 221, 223);
}
.red-bg{
    background-color: rgb(173, 105, 57);
}
.red-bg:hover{
    color: white;
}
.footer{
    background-color: rgb(100, 166, 211);
}
.anchor{
    color: inherit;
}
